body {
    background: lightblue;
    font-family: Arial, sans-serif;
}
h1 {
    color: red;
    font-size: 40px;
}
p {
    color: darkblue;
}
#words {
   color: yellow;
}
span.title {
    color: black;
}
button {
    padding: 10px;
    margin: 12px;
    border: 4px solid yellow;
    border-radius: 10px;
    color: blueviolet;
    background-color: blanchedalmond;
    transition: all 0.5s;
    box-shadow: -4px 4px 12px darkgray;
    position: absolute;
    top: 0px;
    right: 0px;
}
button:hover {
    background-color: darkblue;
    color: darkcyan;
    padding: 12px;
    box-shadow: 6px 6px 15px black;
}
form {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: right;
}
table, th, td {
    border: 4px inset black;
    border-collapse: collapse;
}
.button{
    position: relative;
    width: 300px;
    height: 100px;
    background-color: lightgray;
}
@media (max-width: 600px) {
    form {
        flex-direction: column;
        align-items: flex-start;
    }
    h1 {
        font-size: 24px;
        color: blue;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    table {
        font-size: 14px;
    }
    body {
        padding: 10px;
    }
} 
